<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "build/material.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "build/screen.css"}}" />
    <script defer src="{{asset "js/material.1.3.0.min.js"}}"></script>
    {{{block "header"}}}
    {{ghost_head}}
</head>
<body id="">
    <a id="top_of_page"></a>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <div class="mdl-layout__header mdl-layout__header--waterfall m-header">
            <div class="mdl-layout__header-row">
                <a href="{{@blog.url}}">
                    <span class="mdl-layout-title m-header__title">
                        {{@blog.title}} - {{@blog.description}}
                    </span>
                </a>
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <div class="m-header__nav-container">
                    {{> "site-nav"}}
                </div>
            </div>
        </div>
        <div class="mdl-layout__drawer">
            {{> "site-nav"}}
        </div>
        <div class="mdl-layout__content">
            <div class="mdl-grid mdl-grid--no-spacing">
                <div class="mdl-cell mdl-cell--12-col m-content">
                    {{{body}}}
                </div>
            </div>
            <footer class="mdl-footer m-footer g-flexbox">
                <section class="g-flex g-text-left m-footer__item"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; 2018</section>
                <section class="g-flex g-text-right m-footer__item">Published with&nbsp; <a href="https://ghost.org">Ghost</a></section>
            </footer>
        </div>
    </div>
    {{{block "scripts"}}}
    {{ghost_foot}}
</body>
</html>
